<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
       xmlns:tiles="http://www.thymeleaf.org">

    <div th:replace="pages/fragments :: head"></div>

    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div th:replace="pages/fragments :: navbar"></div>                                   
            </div>

            <div class="row-fluid topmarg">
                <div class="span12"> 				
                            <table id="listArticles"
                                   data-toggle="table"
                                   th:attr="data-url=@{/articles}"
                                   data-pagination="true"                       
                                   data-page-size="10"					   
                                   data-search="true"
                                   data-classes="table table-hover table-condensed"
                                   data-striped="true"
                                   data-show-footer="false"
                                   data-search-align="left"
                                   data-buttons-align="left"
                                   data-toolbar-align="right"
                                   data-pagination-h-align="left"
                                   data-pagination-detail-h-align="right"
                                   data-page-list="[10,15,20]"
                                   data-height="500">
                                <thead style="color:wheat;background-color:#416180">
                                    <tr>
                                        <th data-field="id" data-width="5%" data-visible="false">Id</th>						
                                        <th data-field="reference" data-width="20%" data-sortable="true">Reference</th>
                                        <th data-field="designation" data-width="60%" data-sortable="true">Designation</th>							
                                        <th data-field="quantite" data-width="10%" data-align="center" data-sortable="true">Quantite</th>
                                        <th data-field="puvht" data-formatter="enMillimes" data-sortable="true" data-width="10%" data-align="center">Prix Unitaire Vente TTC</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
        
        <div th:replace="pages/fragments :: footer"></div>
    </body>
</html>