<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head" th:remove="tag">

    <title>PolyTrade</title>
    <link rel="icon" type="image/png" href="#" th:href="@{/resources/img/cashbox.png}"/>
    <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap-table/1.11.0/dist/bootstrap-table.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/resources/css/polytrade.css}"/>

</thymeleaf>
