<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:tiles="http://www.thymeleaf.org">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>PolyTrade</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"/>
		<link rel="stylesheet" href="css/bootstrap-table.css" th:href="@{/webjars/bootstrap-table/1.11.0/dist/bootstrap-table.css}"/>
		<script src="webjars/jquery/2.2.3/jquery.js" th:src="@{/webjars/jquery/2.2.3/jquery.js}"></script>	
		<script src="webjars/bootstrap/3.3.6/js/bootstrap.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>	   
		<script src="webjars/bootstrap-table/1.11.0/dist/bootstrap-table.js" th:src="@{/webjars/bootstrap-table/1.11.0/dist/bootstrap-table.js}"></script>	   		   					
	</head>

	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">PolyTrade</a>	  
						</div>		
					</nav>				
					<div id="toolbar" class="btn-group">
						<form class="form-inline" th:object="${famille}" action="index.html" th:action="@{/familleReport}" method="post">
							<div class="form-group">
								<label for="sel1">Famille: </label>					
								<select th:field="*{id}" class="form-control" id="sel1">
									<option th:each="fml : ${allFamille}"
											th:value="${fml.id}"
											th:text="${{fml.designation}}">Famille Null
									</option>					
								</select>
								<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-print"></span></button>
							</div>
						</form>						
					</div>				
					<table id="eventsTable"
						   data-toggle="table"
						   th:attr="data-url=@{/arts}"
						   data-pagination="true"
						   data-page-size="15"					   
						   data-search="true"
						   data-toolbar="#toolbar"
						   data-classes="table table-hover table-condensed"
						   data-striped="true"
						   data-show-footer="false"
						   data-search-align="left"
						   data-buttons-align="left"
						   data-toolbar-align="right"
						   data-pagination-h-align="left"
						   data-pagination-detail-h-align="right"
						   data-page-list="[10,15,20]"
						   data-height="630">
						<thead>
						<tr>
							<th data-field="article.reference" data-width="15%">Reference</th>
							<th data-field="article.designation" data-width="50%">Designation</th>							
							<th data-field="quantite" data-width="5%" data-align="center">Quantite</th>
							<th data-field="article.puaht" data-formatter="enMillimes" data-width="15%" data-align="center">Prix Unitaire Achat TTC</th>							
							<th data-field="article.puvht" data-formatter="enMillimes" data-width="15%" data-align="center">Prix Unitaire Vente TTC</th>
						</tr>
						</thead>
					</table>		
				</div>
			</div>
		</div>
		<script src="webjars/jquery/2.2.3/jquery.js" th:src="@{webjars/jquery/jquery.js}"></script>	
		<script src="webjars/bootstrap/3.3.6/js/bootstrap.js" th:src="@{webjars/bootstrap/js/bootstrap.js}"></script>	   
		<script src="webjars/bootstrap-table/1.11.0/dist/bootstrap-table.js" th:src="@{webjars/bootstrap-table/dist/bootstrap-table.js}"></script>	   		
		<script type="text/javascript" src="/resources/js/polytrade.js" th:src="@{/resources/js/polytrade.js}"></script>			
	</body>
</html>