<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
       xmlns:tiles="http://www.thymeleaf.org">

    <head>
        <!--meta name="viewport" content="width=device-width, initial-scale=1.0"/-->
        <title>PolyTrade</title>
        <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap-table/1.11.0/dist/bootstrap-table.css}"/>
        <link rel="stylesheet" href="#" th:href="@{/resources/css/polytrade.css}"/>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">PolyTrade</a>	                                                    
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>  
                            </div>	
                        </div>
                    </nav>                                   
 				
				<H1> Ceci est une Page de Test</H1>
                </div>
            </div>
        </div>

        <script src="#" th:src="@{/webjars/jquery/2.2.3/jquery.js}"></script>	
        <script src="#" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>	   
        <script src="#" th:src="@{/webjars/bootstrap-table/1.11.0/dist/bootstrap-table.js}"></script>	   		   						
        <script src="#" th:src="@{/resources/js/polytrade.js}"></script>			
    </body>
</html>