<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
       xmlns:tiles="http://www.thymeleaf.org">

   <head>
    <thymeleaf th:replace="fragment_head :: head" />
</head>

    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <!--div class="span12"-->
                    <div th:replace="admin/header :: navbar"></div>                                   
                    <!--div th:fragment="logout" class="logout"
                         sec:authorize="isAuthenticated()">
                        Logged user: <span sec:authentication="name">Bob</span> |
                        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |
                        <!--/* When using CSRF this needs to be a POST */-->
                        <!--form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
                    </div>
                    <h1>Thymeleafexamples - Spring Security</h1>
                    <p>This is a demo of Thymeleaf and Spring-Security integration.</p>
                    <h2>Private pages</h2>
                    <p>This is a public page, but you can navigate to protected pages to trigger authentication.</p>
                    <ul>
                        <li>Go to <a href="admin/index.html" th:href="@{/admin/index}">administration zone</a> (only admins)</li>
                        <li>Go to <a href="user/index.html" th:href="@{/user/index}">user zone</a> (only users)</li>
                        <li>Go to <a href="user/index.html" th:href="@{/shared/index}">shared zone</a> (both users and admins)</li>
                    </ul>
                    <h2>Exception handling</h2>
                    <ul>
                        <li>You can <a href="error.html" th:href="@{/simulateError.html}">simulate an exception</a> to see custom ErrorPage.</li>
                    </ul>
                </div-->				
            </div>
            
            <div class="row-fluid">
                <div class="span12">
                    <!--nav class="navbar navbar-default navbar-custom navbar-fixed-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">PolyTrade</a>	                                                    
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>  
                            </div>	
                        </div>
                    </nav-->                                   
                    <!--div id="toolbar" class="btn-group">
                        <form class="form-inline" th:object="${famille}" action="index.html" th:action="@{/familleReport}" method="post">
                            <div class="form-group">
                                <label for="sel1"> ADMIN Famille: </label>					
                                <select th:field="*{id}" class="form-control" id="sel1">
                                    <option th:each="fml : ${allFamille}"
                                            th:value="${fml.id}"
                                            th:text="${{fml.designation}}">Famille Null
                                    </option>					
                                </select>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span></button>
                            </div>
                        </form>						
                    </div-->				
                    <table id="eventsTable"
                           data-toggle="table"
                           th:attr="data-url=@{/admin/json_recettes}"
                           data-pagination="true"
                           data-page-size="10"					   
                           data-search="true"
                           data-classes="table table-hover table-condensed"
                           data-striped="true"
                           data-show-footer="false"
                           data-search-align="left"
                           data-buttons-align="left"
                           data-toolbar-align="right"
                           data-pagination-h-align="left"
                           data-pagination-detail-h-align="right"
                           data-page-list="[10,15,20]"
                           data-height="500"
                           data-detail-view="true"
                           data-detail-formatter="detailFormatter"                              
                           data-sort-name="date"
                           data-sort-order="desc">
                        <thead>
                            <tr>
                                <th data-field="id" data-visible="false">Id</th>
                                <th data-field="numero" data-visible="false">Numero</th> 
                                <th data-field="dateModif" data-visible="false">Modif</th>                                   
                                <th data-field="date" data-width="10%" data-sortable="true">Date</th>                             
                                <!--th data-field="famille" data-width="15%">Famille</th-->							
                                <th data-field="nom" data-width="35%" data-sortable="true">Client</th>
                                <th data-field="type" data-width="5%" data-sortable="true">Type</th>                                
                                <th data-field="reference" data-width="15%" data-sortable="true">Reference</th> 
                                <th data-field="designation" data-width="20%" data-sortable="true">Designation</th>                                 
                                <th data-field="quantite" data-width="5%" data-align="center" data-sortable="true">Quantite</th>
                                <th data-field="mnt" data-formatter="enMillimes" data-sortable="true" data-width="5%" data-align="center">Montant TTC</th>
                                <th data-field="gain" data-sortable="true" data-width="5%" data-align="center">Marge%</th>                                
                            </tr>
                        </thead>
                    </table>		
                </div>
            </div>            
        </div>

        <script src="#" th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>	
        <script src="#" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>	   
        <script src="#" th:src="@{/webjars/bootstrap-table/1.11.0/dist/bootstrap-table.js}"></script>	   		   						
        <script src="#" th:src="@{/resources/js/polytrade.js}"></script>			
    </body>
</html>